[submodule "backend"]
	path = backend
	url = https://github.com/avU8989/fitness_tracker.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/avU8989/fitness_tracker.git
[submodule "app"]
	path = app
	url = https://github.com/avU8989/fitness_tracker.git
